* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  user-select: none;
  color: #fff;
}

.header {
  background: #0a0519;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main{
  /* border: solid; */
  display: flex;
  width: 235px;
  justify-content: space-between;
  align-items: centerA;
  margin-bottom: 30px;
}

.main .player{
  background:#17122a;
  height: 60px;
  width: 60px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 3px solid #17122a;
  opacity: 0.5;
  transition: 0.3s;

}

.main .player:hover{
  border:3px solid #2a2343;

}

.main .active-Player{
  opacity: 1;
  border: 3px solid #2a2343;
}

.main #xplayerDisplay{
  color: #1892ea;
}

.header .board{
  display: grid;
  grid-template-columns: repeat(3,70px);
  grid-template-rows: repeat(3,70px);
  gap: 12px;
   
}

.header .board .cell{
  /* border: solid; */
  background: #17122a;
  border-radius: 12px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.header .restartBtn{
  margin-top: 30px;
  width: 235px;
  background:#17122a ;
  border: none;
  border-radius: 12px ;
  padding: 12px 0;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ;
  visibility: hidden;

}

.header .restartBtn:hover{
  background: #2a2343;
}